#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.selected{
  border: solid 2px yellow;

}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px 50px;
}